* {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        body {
            overflow-x: hidden;
            margin-left: 5px;
            margin-right: 5px;
            background-color: rgb(4, 24, 44);

            color: white;

            .head_section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top:1%;
                margin-left: 3%;
                margin-right: 3%;


                .head-h1 {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 34px;


                }

                .head_items {
                    display: flex;
                    list-style-type: none;
                    gap: 60px;

                    li {

                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 20px;
                            font-weight: bolder;
                        }
                        a:active{
                            color:deepskyblue;
                        }
                    }
                    .index a{
                        color:deepskyblue;
                    }
                }
            }

            .main {
                margin-left: 3%;
                margin-top: 5%;
                margin-right: 3%;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .info {
                    padding: 0;
                    width: 700px;
                    text-align: justify;

                    .p-1 {

                        margin: 0;
                        padding: 0;
                        font-size: 45px;
                        font-weight: bolder;
                        margin-bottom: 5px;
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;

                    }

                    .p-2 {
                        font-size: 35px;
                        color: deepskyblue;
                        font-weight: bolder;
                        margin-bottom: 5%;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    .p-3 {
                        font-style: italic;
                        font-size: 25px;
                        margin-bottom: 5%;
                    }

                    .btns {

                        .Hier_Me {
                            padding: 7px 35px;
                            font-size: 25px;
                            font-family: Arial, Helvetica, sans-serif;
                            border-radius: 10px;
                            background-color: deepskyblue;
                            border: 3px solid deepskyblue;

                        }
                        .Hier_Me:hover{
                            background-color:greenyellow;
                            color: deepskyblue;
                            border:3px solid deepskyblue;
                        }

                        .Lets_Talk {
                            margin-left: 25px;
                            padding: 7px 35px;
                            font-size: 25px;
                            font-family: Arial, Helvetica, sans-serif;
                            border-radius: 10px;
                            background-color: black;
                            color: deepskyblue;
                            border: 3px solid deepskyblue;

                        }
                        .Lets_Talk:hover{
                            background-color:deeppink;
                            color: black;
                            border:3px solid deepskyblue;
                        }

                    }
                }

                .profile-pic {

                    margin-right: 10%;

                    img {
                        width: 500px;
                        border-radius: 800px 1000px 700px 300px;
                        border:4px solid whitesmoke;
                    }
                
                }
            }

            .footer {
                margin-left:3%;
                bottom:0;

                .icons {
                    list-style-type: none;
                    display: flex;
                    gap: 30px;

                    li {
                        a {
                            text-decoration: none;

                            i {
                                font-size: 45px;
                                color:deepskyblue ;
                            }
                            i:hover{
                                color: chartreuse;

                            }
                        }
                    }
                }
            }
        }